<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(openid, name, phone, sex, id_number, avatar, create_time) VALUES (#{openid},#{name},#{phone},#{sex},#{idNumber},#{avatar},#{createTime})
    </insert>
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from user
        <where>
            <if test="beginTime!=null">
                and create_time &gt; #{beginTime}
            </if>
            <if test="endTime!=null">
                and create_time &lt; #{endTime}
            </if>
        </where>
    </select>
    <select id="countByDateList" resultType="java.lang.Integer">
        <foreach collection="dateList" item="date" separator="union all">
            select count(id) from user
            where create_time &gt; #{date.begin} and create_time &lt; #{date.end}
        </foreach>
    </select>
    <select id="sumByDateList" resultType="java.lang.Integer">
        <foreach collection="dateList" item="date" separator="union all">
            select count(id) from user
            where create_time &lt; #{date.end}
        </foreach>
    </select>
</mapper>